---
Checks: >
  bugprone-*,
  clang-diagnostic-*,
  clang-analyzer-*,
  concurrency-*,
  performance-*,
  portability-*,
  misc-*,
  -bugprone-easily-swappable-parameters,
  -misc-no-recursion

WarningsAsErrors: ''

HeaderFilterRegex: '.*'
ExcludeHeaderFilterRegex: ''

FormatStyle: none
CheckOptions: {}

SystemHeaders: false
...
